#Requirements:
    #Flask==2.0.1
    #Flask-SQLAlchemy==2.5.1

#Install Dependencies
    # pip install -r

#Run the Application
    #python app.py

#Access the Application 
#Open your browser and navigate to http://127.0.0.1:5000/
